*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "actionman";
  src: url("fonts/action_man-webfont.woff2") format("woff2"),
    url("fonts/action_man-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
}

.main {
  display: flex;
  flex-flow: column;
}

.sidebar {
  position: relative;
  background-image: url(images/abstract-art-bg.jpg);
  height: auto;
  width: 40vw;
  text-align: center;
}

.top,
.bottom {
  background-color: rgb(244, 246, 248);
  height: 36vh;
  width: 60vw;
}

.top {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  padding: 20px;
}

.middle {
  position: relative;

  height: auto;
  width: 60vw;
  box-shadow: 0 5px 5px -2px rgb(201, 202, 203);
  padding: 20px 450px 20px 40px;
}

.logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 16vh;
  background-color: black;
  width: inherit;
  height: 20vh;
  opacity: 0.5;
  padding: 20px;
}

.logo {
  position: absolute;
  background-image: url(images/odin-lined.png);
  height: 200px;
  width: auto;
}

.odin-logo {
  height: 140px;
  width: 100px;
}

.logo-title {
  font-family: "actionman", sans-serif;
  font-size: 80px;

  color: white;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 600;

  margin: 20px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.label-box {
  display: flex;
  flex-flow: column wrap;
  width: 15vw;
}

.input-group {
  height: 28vh;
  width: 70px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 11px;
  color: rgb(28, 29, 41);
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  width: 250px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input:invalid {
  border: 1px solid red;
  border-radius: 5px;
}

input + span {
  position: relative;
}

input[type="password"]:invalid + span::after {
  font-size: 0.6rem;
  position: absolute;
  content: "*Passwords do not match";
  color: red;
  top: 2px;
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 3px -3px rgb(0, 0, 0);
  border: 1px solid #4166d7;
}

input[type="tel"]:invalid + span::after {
  font-size: 0.6rem;
  position: absolute;
  content: "*Please enter a valid phone number";
  color: red;
  top: 2px;
}

input[id="password"]:invalid + span::after {
  font-size: 0.6rem;
  position: absolute;
  content: "*Password must have 1 uppercase and lowercase letter, 1 number, and be 6 or more chars";
  color: red;
  top: 2px;
}

.picture-credit {
  position: absolute;
  top: 750px;
  right: 31px;
  color: white;
}

a:visited {
  color: white;
}
